<!DOCTYPE html>
<html ng-app="baseApp">
<head>
<meta charset="UTF-8">
<title>url表单测试</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script type="text/javascript" src="js/angular-base64.js"></script>
<script type="text/javascript" src="js/ngStorage.min.js"></script>
<script type="text/javascript" src="js/component.js"></script>

<style>
.panel-body>.row {
	margin-top: 10px;
}
</style>
</head>
<body ng-controller="baseCtrl">
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">请假人</span> <input
									type="text" class="form-control" ng-model="fields.qjr">
							</div>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">请假类型</span> <select
									class="form-control" ng-model="fields.qjlx">
									<option value="1">病假</option>
									<option value="2">事假</option>
									<option value="3">婚假</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">开始时间</span> <input
									type="text" class="form-control" ng-model="fields.kssj">
							</div>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">结束时间</span> <input
									type="text" class="form-control" ng-model="fields.jssj">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">请假原因</span>
								<textarea rows="5" cols="100" ng-model="fields.qjyy"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function getParameter(key) {
			var parameters = decodeURI(window.location.search.substr(1)).split("&");
			for (var i = 0; i < parameters.length; i++) {
				var paramCell = parameters[i].split("=");
				if (paramCell.length == 2
						&& paramCell[0].toUpperCase() == key.toUpperCase()) {
					return paramCell[1];
				}
			}
			return "";
	    }
		
		var baseApp = angular.module("baseApp", [ 'components','ngStorage' ]);

		baseApp.controller("baseCtrl", [ '$scope', '$http','$location','$sessionStorage',function($scope, $http,$location,$sessionStorage) {
			var pk = getParameter("id");
			$scope.fields = {
					"id": "",
					"qjlx" : "",
					"jssj" : "",
					"qjr" : "",
					"kssj" : "",
					"qjyy" : "",
					"initData" : {}
				};
			if(pk){
				/**
				   后台根据主键获取数据 
				*/
				// 这里从 sessionStorage 中模拟获取数据
				$scope.fields = $sessionStorage.urlFormData;
			}
			
			var parentOrigin = 'http://127.0.0.1:8080';
			window.addEventListener("message",function(e){
				if(e.data == 'save' && e.origin.startsWith(parentOrigin) ){
					// 保存表单数据到后台 这里模拟保存   
					$scope.fields.id = 1;
					$sessionStorage.urlFormData = $scope.fields;
					// 保存成功  返回的data 对象必须要有 id 属性  表单的主键值 ，  编辑，明细页面就可以根据id来获取详情信息
					var result = {state:true, data: $scope.fields};
					// 保存失败  var result = {state:false,message: "保存表单失败"}
					window.parent.postMessage(result,parentOrigin);
				}
				
			},false)
			
					
          } ]);
	</script>
</body>
</html>